@import "tailwindcss";

:root {
  font-size: 16px;
}

@theme {
  --color-textPrimary: #321337;
  --color-textHighlight: #b229f0;
  --color-bgPrimary: #f9eeff;
}

.text-zinc-500 {
  color: #8c818e;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
